
body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

header{
    width: 100%;
    padding: 35px 55px;
    display: block;
}

.links-header{
    margin-right: 25px;
    color: #17233D;
}

.button{
    font-size: 16px;
    line-height: 24px;
    color: #ffffff;
    background: #6FBF44;
    border: 1px solid #4CB538;
    border-radius: 6px;
    padding: 15px 25px;;
}

.container{
    display: flex;
    min-height: calc(100vh - 125.6px);
    flex-wrap: wrap;
}

.container-left, .container-right{
    width: 50%;
    display: flex;
}

.imglogo{
    margin: auto;
    width: 100%;
    max-width: 596px;
}

.presentation{
    max-width: 70%;
    margin: auto 0px;
}

.title{
    font-size: 62px;
    line-height: 82px;
    letter-spacing: 0.596154px;
    color: #161A49;
}

.paragrafo{
    font-size: 18px;
    line-height: 33px;
    letter-spacing: 0.5px;
    color: #4B505A;
}

.link{
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 1px;
    color: #6FBF44;
}
@media screen and (max-width:768px) {

    header{
        display: flex;
        justify-content: end;
        width: unset
    }
    
    .links-header{
        display: none;
    }

    .button{
        right: 0px;
    }
    
    .container-left, .container-right{
        width: 100%;
        flex-shrink: 0;
    }

    .container-left{
        order: 1;
    }
    
    .container-right{
        order: 0;
    }

    .presentation{
        text-align: center;
        margin: auto;
    }

    .title{
        font-size: 30px;
        line-height: 30px;
    }

    .paragrafo{
        font-size: 18px;
        line-height: 33px;  
    }

    .link{
        font-size: 18px;
        line-height: 27px;
    }

    .imglogo{
       max-width: 312px;
    }
}

